<div class="row-fluid">
  <div class="span12">
    <ul>
    <li><%= link_to "Photos", admin_photos_path %>     </li>
      <li><%= link_to "Clients", admin_clients_path %>     </li>
    </ul>
  </div>
</div>