<div class="portfolio-link">
   <%= link_to "FOOD", portfolio_path("food") %>
</div>
<div class="portfolio-link">
  <%= link_to "INTERIORS", portfolio_path("interiors") %>
</div>
<div class="portfolio-link">
  <%= link_to "FEATURED", portfolio_path("featured") %>
</div>