<div class="portfolio-slider">
  <div class="portfolio-left"></div>
<% @photos.each do |p| %>
    <div class="image">
        <%= image_tag p.url, :alt => p.title %>
    </div>
<% end %>
  <div class="portfolio-right"></div>
  <div class="portfolio-pager"></div>
</div>