<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" type="text/javascript"
        xmlns="http://www.w3.org/1999/html"></script>
<%= javascript_include_tag "widgets/portfolio" %>
<script type="text/javascript">
  $(function(){
     $('.portfolio-slider').portfolio();
  })
</script>
<div class="portfolio-slider">
  <div class="portfolio-left"><i class='icon-step-backward'></i></div>
  <ul class="portfolio-container">
    <% photoCount = 0 %>
<% @photos.each do |p| %>
        <% if photoCount < 1 %>
            <li class="image <%= p.horizontal ? 'image-horizontal' : '' %> ">
        <% end
           photoCount += 1
        %>
        <%= image_tag p.url, :alt => p.title %>
        <% if photoCount == 2 || p.horizontal
                photoCount = 0
        %>
            </li>
        <% else
           end  %>

<% end %>
  </ul>
  <div class="portfolio-right"><i class='icon-step-forward'></i></div>
  <div class="portfolio-pager"></div>
</div>