<p><%= link_to "Back to List", admin_photos_path %>  </p>
<br/>
<%= javascript_include_tag "widgets/adminphoto" %>

<p><%= link_to 'upload new image', new_admin_photo_path %> </p>
<table  class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Section</th>
      <th>Order</th>
      <th>Image Name</th>
      <th>Link</th>
      <th>Visible</th>
      <th>Horizontal</th>
      <th></th>
    </tr>
  </thead>
  <tbody data-bind="foreach: photos">
    <tr>
      <td class="photo-section">
        <p data-bind="text:section, visible: !editMode()"></p>
        <select data-bind="options: $root.portfolios, value: savePhoto().section, visible: editMode()"></select>
      </td>
      <td class="photo-sequence">
        <p data-bind="text:sequence, visible: !editMode()"></p>
        <input type="number" data-bind="value: savePhoto().sequence, visible: editMode()" />
      </td>
      <td class="photo-title">
        <p data-bind="text:title, visible: !editMode()"></p>
        <input type="text" data-bind="value: savePhoto().title, visible: editMode()" />
      </td>
      <td class="photo-url">
        <p data-bind="text:url, visible: !editMode()"></p>
        <input type="text" data-bind="value: savePhoto().url, visible: editMode()" />
      </td>
      <td class="photo-visible">
        <p data-bind="text:visible, visible: !editMode()"></p>
        <select data-bind="options: $root.checks, optionsText: 'text', optionsValue: 'value', value: savePhoto().visible, visible: editMode()"></select>
      </td>
      <td class="photo-horizontal">
        <p data-bind="text:horizontal, visible: !editMode()"></p>
        <select data-bind="options: $root.checks, optionsText: 'text', optionsValue: 'value', value: savePhoto().horizontal, visible: editMode()"></select>
      </td>
      <td class="photo-buttons">
        <button class="btn" data-bind="css:{'btn-inverse': !editMode(), 'btn-warning': editMode()}, text:editMode()? 'Cancel' : 'Edit', click: setEdit, enable: !isSaving()"></button>
        <button class="btn btn-success" data-bind="text:'Save', click: save, visible: editMode(), enable: !isSaving()"></button>

        <p><a data-bind="attr: {href: '/admin/photos/' + id() + '/edit'}">edit photo</a></p>
      </td>
    </tr>
  </tbody>
</table>
<p class="text-info" data-bind="visible: isLoading()">Loading, be right with you.</p>