<div class="portfolio-text">
<h4>Clients include:</h4>

  <ul>
    <% (0..18).each do |x|
    unless (clients[x].blank?)
    %>

                  <li>
                    <%= clients[x].name %>
                  </li>
        <% end
           end %>

        </ul>
    </div>