
<div class="notifications">
  <% unless notice.nil? %>
      <p class="notice"><%= notice %></p>
  <% end %>
  <% unless alert.nil? %>
      <p class="alert"><%= alert %></p>
  <% end %>
</div>
<header>

  <div class="row-fluid">
    <div class="span2"></div>
    <div class="span10">
      <h1><%= link_to "Victoria Harley Photography", root_path %> </h1>
    </div>
  </div>
</header>