
<div class="notifications">
  <% unless notice.nil? %>
      <p class="notice"><%= notice %></p>
  <% end %>
  <% unless alert.nil? %>
      <p class="alert"><%= alert %></p>
  <% end %>
</div>
<header>

  <div class="row-fluid">
    <div class="span2"></div>
    <div class="span10">
      <div class="row">
        <div class="span10">
      <h1>Victoria Harley Photography</h1>
          </div>
      </div>
    </div>
  </div>
</header>