<div class="row-fluid">
  <div class="span12">
    <div class="featured-area">
      <div class="focus-image pull-left">
        <%= image_tag 'contact.jpg', :alt => 'cupcakes' %>
      </div>

      <div class="text-column">
        <p>For further information about my work or availability, please contact me on:</p>
        <br />
        <p>victoria<span>@</span><span>split</span><span>-</span><span>pin</span><span>.</span><span>co.</span><span>uk</span></p>
        <br />
        <p>0044 (0)7906 44 60 12</p>
        <br />
        <p><a href="http://twitter.com/intent/user?screen_name=VictoriaHPhoto" target="_blank"><%= image_tag 'twitter.jpg', :alt => '@VictoriaHPhoto' %></a></p>
      </div>

    </div>
  </div>
</div>