<div class="row-fluid">
  <div class="span12">
      <div class="featured-area">
        <div class="focus-image pull-left">
          <%= image_tag 'victoria_bio.jpg', :alt => 'Victoria Harley, photo by Ricky Adam' %>   <br />
          <p class="caption">Photo- Ricky Adam</p>
        </div>

        <div class="text-column">
          <p>Victoria is no stranger to the kitchen, brought up in a foodie household she learnt to cook just as soon as she was old enough to see the worktop.</p>

          <p>After studying photography at Leeds College of Art and Design, and completing her MA at Bradford College (School of Drawing and Textiles), Victoria Harley moved straight into the world of food and interiors photography.</p>

          <p>Combining her photographic training and love of food and design she works as a photographer and stylist, her work has appeared in national</p>
        </div>
        <div class="text-column">
          <p>magazines and  books  including Country Homes & Interiors, English Home and Garden, Gardening Design Journal and Stella magazine.</p>

          <p>She works closely with author and stylist Sally Coulthard and her work features in Sally's forthcoming books, Gardenalia (Jacqui Small).</p>

          <p>Commercial commissions have included work for the Channel 4 food website, Tesco, Thierry Dumouchel (Yorkshire Chef of the Year 2010), Fine Food Digest and Le Journal du Patissier and Yorkshire Life.</p>
        </div>

      </div>
  </div>
</div>