// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo{
  float: left;
  height: 100%;
  width: 100%;
  img{
    margin:auto;
    display: block;
  }
}
.image_wrapper{
  background-image: url('asparagus_Cropped_1240.jpeg');
  background-position: center top;
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
  background-color: #404040;
  background-repeat: no-repeat;
}
.home{
  nav{
    li{
      a, a:hover, a:visited, :active{
        color: #fff;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .home nav{
    li{
      border-color: #fff;
    }
  }

}
@media screen and (max-width: 600px) {
  .image_wrapper{
    background-image: url('asparagus_Cropped_600.jpeg');
  }

}
@media screen and (max-width: 900px) {
  .image_wrapper{
    background-image: url('asparagus_Cropped_900.jpeg');
  }

}
@media screen and (max-width: 1240px) {
  .image_wrapper{
    background-image: url('asparagus_Cropped_1240.jpeg');
  }
}
@media screen and (min-width: 1241px) {
  .image_wrapper{
    background-image: url('asparagus_Cropped_1600.jpeg');
  }

}