// Place all the styles related to the portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.portfolio-container {
  height: 470px;
  position: absolute;
  width: 695px;
  overflow: hidden;
}
.portfolio-page {
  height: 100%;
  padding-left: 20px;
  width: 100%;
}
.portfolio-slider{
  height: 500px;
  width: 735px;
  margin: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  div{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  .image{
    float: left;
    margin: 20px 20px 20px 0;
    list-style-type: none;
  }
  .image img + img{
    margin-left: 70px;
    margin-right: 0px;
  }
  .image-horizontal{
    margin:20px 44px;
  }
  .portfolio-pager{
     float:left;
     padding: 0 20px;
    div{
      float: left;
      padding: 0 5px;
      margin: 0 2px;
      cursor: pointer;
    }
   }
  .portfolio-left, .portfolio-right{
    height: 500px;
    position: relative;
    float: left;
    width: 365px;
    z-index: 1;
    i{
      margin-top: 200px;
    }
  }
  .portfolio-right, .portfolio-right i{
    float: right;
  }
}

.portfolio-link{
  position: relative;
  min-width: 250px;
  height: 683px;
  margin-bottom: 20px;
  img{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    filter: alpha(opacity=65);
    opacity: .65;
    left: 0;
    position: relative;
    top: -18px;
    width: 250px;
    height: 683px;
    margin-bottom: auto;
  }
  a{
    position: relative;
    width: 250px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    color: #ffffff;
    letter-spacing: 5px;
    span{
      z-index: 1;
      position: relative;
      top: 250px;
    }
    span.last{
      letter-spacing: 0px;
      top:0;
    }
  }
  a:hover, a:visited, a:active{
    color: #ffffff;
  }
}