// Place all the styles related to the portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$portfolio-height: 470px;
$portfolio-vertical-width: 300px;
$portfolio-slider-width: 708px;

.portfolio-links{
  width: 905px;
  margin: auto;
  overflow: hidden;
}

.portfolio-container {
  height: $portfolio-height;
  position: absolute;
  width: $portfolio-slider-width - 43;
  overflow: hidden;
  margin: 0 30px;
}
.portfolio-container ul{
  width: inherit;
  height: 100%;
}
.portfolio-page {
  height: 100%;
  padding-left: 20px;
  width: 100%;
}
.portfolio-slider{
  width: $portfolio-slider-width;
  margin: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  div{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  .image{
    float: left;
    margin: 20px 20px 20px 0;
    list-style-type: none;
    div{
       display: inline-block;
      float: left;
      .portfolio-text{
        width: $portfolio-vertical-width;
      }
      h4{
        text-transform: uppercase;
        font-size: 12px;
        width: 80%;
        margin: auto;
      }
      h4:first-letter{
        font-size: 17px;
      }
        ul{
          list-style-type: none;
          margin:20px auto 0;
          font-size: 13px;
          width: 80%;
          li:first-letter{
            font-size: 16px;
          }
          li{
            line-height: 1.5em;
           }
        }

    }
    img{
      width: $portfolio-vertical-width;
    }
    div + div{
       margin-left: 45px;
       margin-right: 0px;
     }
  }
  .image-horizontal{
    img{
      width: 600px;
      margin: 0 23px;
      height: auto;
    }
  }

  .portfolio-left, .portfolio-right{
    height: $portfolio-height;
    position: relative;
    float: left;
    width: 25px;
    z-index: 1;
    padding-top: 30%;
  }
  .portfolio-right, .portfolio-right i{
    float: right;
  }
}
.spacer{

  min-width: 30px;

}
.portfolio-pager{
  margin: auto;
  padding: 20px;
  width: $portfolio-slider-width - 10;
  a{
    float: left;
    padding: 0 5px;
    margin: 0 2px;
    cursor: pointer;
  }
}
.central {

  .row-fluid [class*="span"]{
    float: left;
  }
  .row-fluid .span3{
    margin-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .central .row-fluid [class*="span"]{
    float: none;
  }
  header .central .row-fluid [class*="span"]{
    float: left;
  }

}

@media screen and (max-width: 1024px) {
  .central .portfolio-links div.span1{
    width: 30px;
    margin:0;
  }

}
.portfolio-link{
  position: relative;
  min-width: 250px;
  height: 683px;
  margin-bottom: 20px;
  img{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    filter: alpha(opacity=65);
    opacity: .65;
    left: 0;
    position: relative;
    top: -18px;
    width: 250px;
    height: 683px;
    margin-bottom: auto;
  }
  a{
    position: relative;
    width: 250px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    color: #ffffff;
    letter-spacing: 5px;
    span{
      z-index: 1;
      position: relative;
      top: 250px;
    }
    span.last{
      letter-spacing: 0px;
      top:0;
    }
  }
  a:hover, a:visited, a:active{
    color: #ffffff;
  }
}