
$linkColor: #404040;
$sansFontFamily: MuseoSlab500Regular;
@import "bootstrap";
@import "bootstrap-responsive";

body, html{
  height: 100%;
  padding: 0;
  min-width: 445px;
}
.necessarycontainertomakefullheight   {
  position: relative;
  min-height: 100%;
}
.interiorContainerControlsWidth{
  margin: auto;
  padding: 0 15px;
  min-width: 1165px
}
header{
  padding-top: 30px;
  padding-bottom: 30px;
  h1 {
    text-indent: -9999px;
    height: 109px;
    width: 334px;
    margin: auto;
    a{
      display: block;
      height: 109px;
      width: 334px;
      background-image: url('full_logo.png');
      background-repeat: no-repeat;
    }
  }
}
nav{
  float: left;
  ul{
    list-style-type: none;
    margin:0;
    padding:0;
    font-size: 13px;
    a{
      display: block;
      text-decoration: underline;
      text-transform: uppercase;
    }
    a:first-letter{
      font-size: 19px;
    }
  }
  li{
    line-height: 3.5em;
  }
}
.makefooterstayatbottom{
  height:377px;

}
.clear{
  clear: both;
}

.side{
  width: 120px;
}
.central{ min-width: 1042px; margin-left: 120px;}
.inner{ display: table;
  margin: 0 auto; }
@media screen and (max-width: 500px) {
  nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    li{
      border-color: #404040;
      border-style: dotted;
      border-width: 1px;
      float: left;
      margin: 2px;
      padding: 0 9px;
      a{
        text-align: center;
      }
    }
    ul{
      display: table;
      margin: 0 auto;
    }
  }
  header{
    h1{
      height:auto;
    }
  }
}
@media screen and (min-width: 501px) and (max-width: 1340px) {
  .interiorContainerControlsWidth{

  }

}
@media screen and (min-width: 1341px) {
  .interiorContainerControlsWidth{
    max-width: 1600px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }

}