
$linkColor: #404040;
$sansFontFamily: MuseoSlab500Regular;
@import "bootstrap";
@import "bootstrap-responsive";

body, html{
  padding: 0;
}
.necessarycontainertomakefullheight   {
  min-height: 100%;
}
.interiorContainerControlsWidth{
  margin: auto;
  padding: 0 15px;
}
header{
  padding-top: 10px;
  padding-bottom: 30px;
  h1 {
    text-indent: -9999px;
    height: 109px;
    width: 334px;
    margin: auto;
    a{
      display: block;
      height: 109px;
      width: 334px;
      background-image: url('full_logo.png');
      background-repeat: no-repeat;
    }
  }
}
footer{
  padding-top: 30px;
  h4{
    margin: auto;
    text-align: center;
    font-size: 11px;
    font-weight: normal;
  }
}
nav{
  float: left;
  ul{
    list-style-type: none;
    margin:0;
    padding:0;
    font-size: 13px;
    a{
      display: block;
      text-decoration: underline;
      text-transform: uppercase;
    }
    a:first-letter{
      font-size: 19px;
    }
  }
  li{
    line-height: 3.5em;
  }
}
.makefooterstayatbottom{
  height:377px;

}
.clear{
  clear: both;
}

.side{
  width: 120px;
}
.central{ margin-left: 120px;}


@media screen and (min-width: 1341px) {
  .interiorContainerControlsWidth{
    max-width: 1600px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }

}